# Ignore everything in this directory
*
# Except this file
!.gitignore
!Brewfile
!.kuberc
!.aliases
!.gitconfig
!.profile
!.zshrc
!.dockerrc
!.rbenvrc
!.nodenvrc
!showhide.sh
!singleapp.sh
!pry-remote.rb
!install_mysql2.sh
